body {
    background-color: black;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding-top: 25%;
    padding-bottom: 25%;
    background: url("https://upload.wikimedia.org/wikipedia/commons/6/66/Moon_and_clouds%2C_2021-11-18%2C_01.jpg") no-repeat center;
    background-size: cover;
}

h2, h3, p {
    color: white;
}

h2, h2 {
    font-weight: bold;
    font-size: 200%;
}

p {
    font-size: 150%;
}

.black-text {
    color: black;
}

#vehicles {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.package {
    margin: 2.5%;
    text-align: center;
}

.package:hover {
    background-color: rgba(110, 71, 71, 0.75);
}



.info {
    display: none;
    position: fixed;
    width: 50%;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info-container {
    text-align: center;
    width: 50%;
    margin-left: 22.5%;
    padding: 2.5%;
    background-color: rgba(158, 158, 158, 0.75);
}

#moon-info {
    padding: 10%;
    background: url("https://upload.wikimedia.org/wikipedia/commons/c/c9/Moon.jpg") no-repeat center;
    background-size: cover;
}

#mars-info {
    padding: 10%;
    background: url("https://upload.wikimedia.org/wikipedia/commons/0/0e/Tharsis_and_Valles_Marineris_-_Mars_Orbiter_Mission_%2830055660701%29.png") no-repeat center;
    background-size: cover;
}

#gas-info {
    padding: 10%;
    background: url("https://upload.wikimedia.org/wikipedia/commons/c/c1/Saturn_-_April_25_2016_%2837612580000%29.png") no-repeat center;
    background-size: cover;
}

#kuiper-info {
    padding: 10%;
    background: url("https://upload.wikimedia.org/wikipedia/commons/0/04/Hubble_Witnesses_Massive_Comet-Like_Object_Pollute_Atmosphere_of_a_White_Dwarf_%2831975852484%29.png") no-repeat center;
    background-size: cover;
}

@keyframes appear {
    from {display: none; opacity: 0}
    to {display: block; opacity: 1}
}

@keyframes disappear {
    from {display: block; opacity: 1}
    to {display: none; opacity: 0}
    
}

.appear {
    animation-name: appear;
    animation-duration: 1s;
}

.disappear {
    animation-name: disappear;
    animation-duration: 1s;
}