@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

nav {
  width: 90vw;
  height: 5vh;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-top: -5.5vh;
  border-radius: 1;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 2;
  background-color: #140025;
}

.nav-button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: .5vh;
  text-decoration: none;
}

a.current-page {
  font-weight: bold;
}

a:hover {
  background-color: rgb(75, 27, 75);
}

#not-nav {
    margin-top: 10vh;
}

h1 {
    font-family: "Times New Roman", Times, serif;
    color: white;
    font-size-adjust: 0.3;
    font-size: 300%;
    text-align: center;
    padding: 2.5%;
    margin-top: -1.5%;
}
 
h3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

p, li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

li:hover {
    background-color: rgb(95, 95, 95);
}

body {
    width: auto;
}

#background {
    background: url("nightsky.jpg") no-repeat center fixed;
    background-size: cover;  
}

h3 {
    text-align: center;
}

#day-button {
    display: none;
    margin: auto;
    text-align: center;
}

#year-button {
    display: none;
    margin: auto;
    text-align: center;
}

#button {
    size: fit-content;
}

#month-selections {
    margin: auto;
    text-align: center;
    display: none;
    justify-content: 'center';
    align-items: 'center';
    width: fit-content;
}

#month:hover, #day:hover, #year:hover {
    background-color: lightslategray;
}

.month-option:hover {
    background-color: gray;
}

#training {
    display: none;
    margin: auto;
    text-align: center;
}

#select {
    text-align: center;
    display: none;
}
