h1 {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    position: relative;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#button {
    size: fit-content;
}

#month-selections {
    display: none;
    justify-content: 'center';
    background-color: lightgrey;
    position: absolute;
    
}

.month-option {
    text-align: 'center';
}

#footer {
    position: absolute;
    justify-content: 'center';
}

