h1 {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    position: relative;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#button-container {
    display: flex;
    flex-direction: row;
}

#button {
    size: fit-content;
}

#month-selections {
    display: none;
    justify-content: 'center';
    align-items: 'center';
    width: fit-content;
    
}

#footer {
    justify-content: 'center';
}

.month-option {
    text-align: 'center';
}


