nav {
  width: 90vw;
  height: 5vh;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-top: 1vh;
  border-radius: 1;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 2;
  background-color: #140025;
}

.nav-button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

a#nav {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: .5vh;
  text-decoration: none;
  text-align: center;
}

a.current-page {
  font-weight: bold;
}

a:hover {
  background-color: rgb(75, 27, 75);
}

#container {
    display: flex;
    height: 95vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .5);
}

/* https://www.defense.gov/News/Feature-Stories/story/Article/2921461/space-force-delivers-multiple-satellites-into-orbit/ */
body {
    display: flex;
    flex: 1;
    background: url("https://media.defense.gov/2022/Feb/03/2002932250/1280/1280/0/220118-F-KD758-180.JPG") no-repeat center fixed;
    background-size: cover;
}

#body {
    display: flex;
    margin-top: 5vh;
    flex: 1;
    flex-direction: column;
    margin: 1vh;
}

#top {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1, p, h3 {
    color: white;
    text-align: center;
}

#middle {
    display: flex;
    flex: 3;
    flex-direction: row;
}

.pdf {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.embed {
    display: flex;
    flex: 1;
    margin: 2vh;
}

#learning-resources {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bottom {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content {
    display: flex;
    flex-direction: row;
    flex: 3,
}

#part {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a {
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: .5%;
    font-size: 75%;
}

a:visited {
    text-decoration: none;
}