h1 {
  color: white;
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
  filter: blur(6px) | hue-rotate(30deg);
  opacity: 50%;
  border: 5px solid black;
}

.title {
  padding-bottom: 25%;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  position: relative;
}

.centered {
  position: absolute;
  font-size: 500%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background {
  background-color: black;
}

.left-bound-container {
  width: 50%;
  padding: 10%;
  margin-bottom: 25%;
}
#left-bound-text {
  color: white;
  padding: 1%;
  font-size: 200%;
  background-color: black;
}

.right-bound-container {
  width: 50%;
  padding: 10%;
  margin-left: 30%;
  margin-bottom: 25%;
}
#right-bound-text {
  color: white;
  padding: 1%;
  font-size: 200%;
  background-color: black;
  text-align: right;
}
#invisible-one {
  opacity: 0%;
}
#visible-one {
  opacity: 100%;
}

#invisible-two {
  opacity: 0%;
}
#visible-two {
  opacity: 100%
}

#stars-background {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/2f/Hubble_ultra_deep_field.jpg");
}

@keyframes appear {
  from {opacity: 0%;}
  to {opacity: 100%;}

}

.animated {
  animation-name: appear;
  animation-duration: 3s;
}
