nav {
  width: 90vw;
  height: 5vh;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-top: 1vh;
  border-radius: 1;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 2;
  background-color: #140025;
}

.nav-button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: .5vh;
  text-decoration: none;
  text-align: center;
}

a.current-page {
  font-weight: bold;
}

body {
  
}

p, h1, h2, h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

h1, h2, h3 {
  text-align: center;
}

a:hover {
  background-color: rgb(75, 27, 75);
}

body {
  background-color: black;
}

#title {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#trip {
  color: white;
  background-color: rgba(0, 0, 0, .2);
}

.left-bound-container {
  width: 50%;
  padding: 10%;
  margin-bottom: 25%;
}

#left-bound-text {
  color: white;
  padding: 1%;
  font-size: 150%;
  background-color: black;
}

.right-bound-container {
  width: 50%;
  padding: 10%;
  margin-left: 30%;
  margin-bottom: 25%;
}

#right-bound-text {
  color: white;
  padding: 1%;
  font-size: 150%;
  background-color: black;
  text-align: right;
}

#invisible-one {
  opacity: 0%;
}
#visible-one {
  opacity: 100%;
}

#invisible-two {
  opacity: 0%;
}
#visible-two {
  opacity: 100%
}

#stars-background {
  background-image: url("https://cdn.pixabay.com/photo/2016/11/23/15/23/cosmos-1853491_1280.jpg");
  background-blend-mode: screen;
}

@keyframes appear {
  from {opacity: 0%;}
  to {opacity: 100%;}

}

.animated {
  animation-name: appear;
  animation-duration: 3s;
}